<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.chenhaonee.cnlab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gitlab"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gitlab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StuMainActivity"
            android:label="@string/title_activity_stu_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeaMainActivity"
            android:label="@string/title_activity_tea_main" />
        <activity android:name=".tea.StudentsListActivity" />
        <activity
            android:name=".tea.StudentScoreListActivity"
            android:label="学生列表" />
        <activity android:name=".tea.QuestionsListActivity"></activity>
    </application>

</manifest>